body{
	margin:0;
	padding: 0;
	background-color: #CD8987;
	color: #E5D0CC;
	font-family: Lato, sans-serif;
	font-weight: 300;
}

.main_page {
    height: 200px;
    width: 700px;

    position: fixed;
    top: 40%;
    left: 40%;
    margin-top: -100px;
    margin-left: -200px;
}

h1{
	letter-spacing: 25px;
	font-size: 60px;
}

h2{
	letter-spacing: 30px;
	font-size: 30px;
	font-style: italic;

}

select{
	font-family: Lato, sans-serif;
	font-size: 15px;
}
