body{
	margin:0;
	padding: 0;
	color:#2a363b;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CD8987;
}

li {
    float: left;
    font-family: Lato, sans-serif;
}

li a {
    display: block;
    color: #E5D0CC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color:black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

h1{
	font-family: "Bookman Old Style";
}

p { 
	font-family: Lato, sans-serif;

}

.main{
	width:1200px;
	align-items: center;
}