/* Webfont: Lato-Thin */@font-face {
    font-family: 'LatoWebThin';
    src: url('fonts/Lato-Thin.woff') format('woff'), /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body{
	margin:0;
	padding: 0;
	color:#2a363b;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6c5b7b;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color:black;
}

h1{
	font-family: "Bookman Old Style";
}

p { 
	font-family: 'LatoWebThin';

}

.main{
	width:1200px;
	align-items: center;
}